#checkboxContainer {
    display: inline-grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
    max-width: 6rem;
}

#checkboxContainer input {
    display: none;
}

#checkboxContainer label {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #40444b;
    box-shadow: 0 0 0 .125rem #000;
    display: block;
    transition-duration: 150ms;
}

#checkboxContainer input:checked ~ label {
    background-color: #b9bbbe;
}
