#buttonContainer {
    position: relative;
    width: 9rem;
    height: 9rem;
}

#buttonContainer::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    top: 4rem;
    left: 4rem;
}

.pipeButton {
    width: 1rem;
    height: 4rem;
    border: none;
    cursor: pointer;
    transition-duration: 150ms;
    position: absolute;
    background-color: #fff;
}

.pipeButton:hover {
    background-color: #b9bbbe;
}

/* Should never happen as tabindex is -1 */
.pipeButton:focus {
    outline: none;
}

[state="2"],
[state="3"] {
    width: 1.5rem;
}

.pipeButton::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 33%;
    background-color: #2f3136;
    top: 0;
    left: calc(100% / 3);
    opacity: 0;
    transition-duration: 150ms;
}

[state="3"]::after {
    opacity: 100%;
}

[state="0"] {
    opacity: 20%;
}

#pb1, #pb3 {
    left: 4rem;
}

#pb4, #pb2 {
    transform: rotate(90deg);
    top: 2.5rem;
}

#pb4 {
    left: 1.5rem;
}

#pb2 {
    right: 1.5rem;
}

#pb3 {
    bottom: 0;
}

#pb4[state="2"], #pb4[state="3"] {
    left: 1.25rem;
}

#pb2[state="2"], #pb2[state="3"] {
    right: 1.25rem;
}

#pb1[state="2"], #pb1[state="3"], #pb3[state="2"], #pb3[state="3"] {
    left: 3.75rem;
}
